* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.item-list {
  margin-bottom: 50px;
}

.item:nth-child(odd) {
  background-color: #eee;
}

.item {
  padding: 20px;
  list-style: none;
}

.box-list {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 200px 200px 200px;
  list-style: none;
}

.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: #ff8c00;
}

.box {
  background-color: #ffd700;
}
